# Copy this file to .env and fill in your values.

ZABBIX_SERVER=192.168.1.10
ZABBIX_PORT=10051
ZABBIX_HOST=MQTT-Bridge

MQTT_BROKER=mosquitto
MQTT_PORT=1883
DISCOVERY_PREFIX=zbx
# MQTT_USER=myuser
# MQTT_PASSWORD=mypassword

LOG_LEVEL=INFO
